nav{
    text-align: center
}
li{
    display: inline;
    transition: 0.5s ease;
    
}
a{
    color: black;
}
li:hover{
    background-color: greenyellow;
    border: solid;
    color: darkred;
    font-size: 2em;
}
a:hover{
    color: darkred;
}
div{
    text-align: center;
}
button{
    border: none;
    background-color: blueviolet;
}
button:hover{
    background-color: purple;
    color: white;


}